.bg-main {
  background: $primary;
}

.bg-success {
  background: $success;
}

.bg-warning {
  background: $warning;
}

.bg-danger {
  background: $danger;
}

.bg-dark {
  background: $dark;
}

.bg-primary-gradient {
  background: $bg-primary-gradient;
}

.base-shadow {
  box-shadow: $base-shadow;
}

.light-shadow {
  box-shadow: $light-shadow;
}

.heavy-shadow {
  box-shadow: $heavy-shadow;
}

.radius {
  border-radius: $large-radius;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@include themeify {
  .primary {
    color: themed("primary") !important;
  }

  .success {
    color: themed("success") !important;
  }

  .danger {
    color: themed("danger") !important;
  }

  .warning {
    color: themed("warning") !important;
  }

  .primary-semi {
    color: themed("primary-semi") !important;
  }

  .text-semi {
    color: themed("text-color-semi");
  }

  .text-light {
    color: themed("text-color-light");
  }

  .text-gray {
    color: themed("text-color-gray");
  }

  .text-primary {
    color: themed("text-color-primary");
  }

  .bg-gray {
    background: themed("bg-color-gray");
  }

  .bg-semi {
    background: themed("bg-color-semi");
  }

  .bg-primary {
    background: themed("bg-color-primary");
  }

  .bg-main-10 {
    background: themed("bg-color-main-10");
  }

  .border-primary {
    border-color: themed("border-color-primary");
  }

  .shadow-hidden {
    box-shadow: 0 0 25px 20px themed("bg-color-primary");
  }

  .vs-input {
    .vs-inputx {
      background: themed("input-bg-color");
    }

    .vs-input--placeholder,
    .vs-input--icon {
      color: themed("text-color-semi");
    }
  }

  .vs-divider {
    .vs-divider-border {
      border-color: themed("text-color-light") !important;
    }
  }

  // vuesax - 表格
  .vs-con-table {
    background: themed("bg-color-semi");

    .vs-table--header {
      padding: 0.5rem 0 1.5rem 0;
    }

    .vs-table--thead {
      color: themed("text-color-gray");
    }

    .vs-table--td {
      color: themed("text-color-semi");
    }

    .vs-table--tbody-table tr {
      background: themed("bg-color-semi");

      .vs-icon {
        color: themed("text-color-semi");
      }
    }

    .not-data-table {
      padding: 1.5rem;
      font-size: 0.9rem;
      color: themed("text-color-gray");
    }

    .tr-expand {
      .vs-list--item {
        color: themed("text-color-semi");
      }
    }
  }

  .el-form {
    .el-form-item__label {
      color: themed("text-color-semi");
    }
  }

  .el-input__inner {
    color: themed("text-color-primary");
    border-color: themed("border-color-primary");
    background: themed("input-bg-color");

    &::placeholder {
      color: themed("text-color-primary") !important;
    }

    .el-range-input {
      color: themed("text-color-primary");
      background: themed("input-bg-color");
    }
  }
}