@import "~@/assets/scss/theme/_themeify.scss";

.text-dark {
  color: rgba(var(--vs-dark), 1) !important;
}

.text-bg-gray {
  color: $text-bg-gray;
}

.text-bg-white {
  color: $text-bg-white;
}

.bg-primary-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-shadow {
  box-shadow: $base-shadow;
}

.light-shadow {
  box-shadow: $light-shadow;
}

.heavy-shadow {
  box-shadow: $heavy-shadow;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@include themeify {
  .primary {
    color: themed("primary") !important;
  }

  .success {
    color: themed("success");
  }

  .danger {
    color: themed("danger");
  }

  .warning {
    color: themed("warning");
  }

  .text-semi {
    color: themed("text-color-semi");
  }

  .text-gray {
    color: themed("text-color-gray");
  }

  .text-primary {
    color: themed("text-color-primary");
  }

  .bg-gray {
    background: themed("bg-color-gray");
  }

  .bg-semi {
    background: themed("bg-color-semi");
  }

  .bg-primary {
    background: themed("bg-color-primary");
  }

  .border-primary {
    color: themed("border-color-primary");
  }

  .vs-inputx {
    background: themed("input-bg-color");
  }
}