@import "~@/assets/scss/theme/_themeify.scss";

.bg-main {
  background: #6165f7;
}

.bg-primary-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-shadow {
  box-shadow: $base-shadow;
}

.light-shadow {
  box-shadow: $light-shadow;
}

.heavy-shadow {
  box-shadow: $heavy-shadow;
}

.radius {
  border-radius: 0.8rem;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@include themeify {
  .primary {
    color: themed("primary") !important;
  }

  .success {
    color: themed("success") !important;
  }

  .danger {
    color: themed("danger") !important;
  }

  .warning {
    color: themed("warning") !important;
  }

  .text-semi {
    color: themed("text-color-semi");
  }

  .text-gray {
    color: themed("text-color-gray");
  }

  .text-primary {
    color: themed("text-color-primary");
  }

  .bg-gray {
    background: themed("bg-color-gray");
  }

  .bg-semi {
    background: themed("bg-color-semi");
  }

  .bg-primary {
    background: themed("bg-color-primary");
  }

  .border-primary {
    border: 1px solid themed("border-color-primary");
  }

  .notice {

    .notice-header,
    .vs-dropdown--menu--after {
      background: themed("notice-header-bg-color");
    }

    .notice-content {
      background: themed("notice-content-bg-color");
    }
  }

  .vs-inputx {
    background: themed("input-bg-color");
  }

  .vs-divider {
    .vs-divider-border {
      border-color: themed("text-color-light") !important;
    }
  }

  .vs-con-table {
    background: themed("bg-color-semi");

    .vs-table--header {
      padding: 0.5rem 0 1.5rem 0;
    }

    .vs-table--thead {
      color: themed("text-color-semi");
    }

    .vs-table--td {
      color: themed("text-color-gray");
    }

    .vs-table--tbody-table tr {
      background: themed("bg-color-semi");

      .vs-icon {
        color: themed("text-color-semi");
      }
    }

    .not-data-table {
      padding: 1.5rem;
      font-size: 0.9rem;
      color: themed("text-color-gray");
    }

    .tr-expand {
      .vs-list--item {
        color: themed("text-color-semi");
      }
    }
  }

  .el-input__inner {
    color: themed("text-color-primary");
    border-color: themed("border-color-primary");
    background: themed("input-bg-color");

    .el-range-input {
      color: themed("text-color-primary");
      background: themed("input-bg-color");
    }
  }
}