@import "~@/assets/scss/theme/_themeify.scss";

$primary: #6165f7;
$success : #28C76F;
$danger: #EA5455;
$warning:#FF9F43;
$dark: #1E1E1E;
$gray: #718096;
$transition: all 0.3s;

// Page
$content-area-min-width: 900px;
$router-view-padding: 2rem;
$router-view-max-width: 2000px;

// Shadow
$light-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
$base-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
$heavy-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

// Border
$small-radius: 0.4rem;
$medium-radius: 0.6rem;
$large-radius: 0.8rem;


// Background
$text-bg-gray: rgb(139, 153, 168) !important;
$text-bg-white: rgb(28, 57, 86) !important;
$bg-gray: rgb(248,
  249,
  250) !important;
$bg-primary-gradient: linear-gradient(to right,
  rgba(var(--vs-primary), 1),
  rgba(var(--vs-primary), 0.7)) !important;

// Sidebar
$side-bar-collapse-transition: all 0.3s !important;
$side-bar-width: 260px;

// Navbar
$nav-icon-color: #686868;
$nav-icon-size: 22px;

// Footer
$footer-height: 65px;

// Font Color
$text-gray-500: #a0aec0;
$text-gray-600: #718096;
$text-gray-700: #4a5569;

@mixin textOverflow($width, $line) {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  max-width: $width;
}