$primary: #7367f0; // 主色
$success : rgb(23, 201, 100);
$danger: rgb(242, 19, 93);
$warning:rgb(255, 130, 0);
$dark: rgb(36, 33, 69);

$baseShadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); // 基础投影

// Sidebar
$side-bar-item-hover-color: #f4f4f4;
$side-bar-menu-icon-color: #545454;
$side-bar-collapse-transition: all 0.3s;
$side-bar-width: 260px;

// Navbar
$nav-icon-color: #686868;
$nav-icon-size: 22px;

//  Footer
$footer-height: 65px;