$themes: (
  /* -----------------------
   * LIGHT-THEME 明亮主题
   * -----------------------
   */
  light: (
    /* Color */
    primary: #6165f7,
    success : #28C76F,
    danger: #EA5455,
    warning:#FF9F43,
    dark: #1E1E1E,
    gray: #718096,
    primary-semi: #6165f7,

    /* Text Color */
    text-color-semi: #8b99a8,
    text-color-light: #ddd,
    text-color-primary: #6f8193,
    text-color-secondary: #6f8193,
    text-color-gray: #8b99a8,
    text-color-gray-500: #a0aec0,
    text-color-gray-600: #718096,
    text-color-gray-700: #4a5569,

    /* Background Color */
    bg-color-semi: #fff,
    bg-color-primary: #fff,
    bg-color-gray: #f8f9fa,
    bg-color-gray-600: #718096,
    bg-color-main-10: rgba(var(--vs-primary), 0.1),

    /* Navbar Color */
    nav-icon-color: #686868,

    /* Sidebar Color */
    sidebar-semi-color: #6165f7,
    sidebar-semi-text-color: #eee,
    sidebar-semi-text-active-color: #6165f7,
    sidebar-semi-item-hover-color: rgba(238, 238, 238, 0.15),
    sidebar-text-color: #666,
    sidebar-text-active-color: #eee,
    sidebar-item-active-color: #f6f7f8,
    sidebar-item-hover-color: rgba(238, 238, 238, 0.15),
    sidebar-item-active-gradient: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important,

    /* Notice Color */
    notice-header-bg-color: #6165f7,
    notice-content-bg-color: #fff,
    notice-hover-color: #f8f9fa,

    /* Border Color */
    border-color-primary: #ddd,
    input-bg-color: transparent,
    // Icon Color
    icon-color-base: #ccc // Icon Color
  ),


  /* -----------------------
   * DARK-THEME 黑暗主题
   * -----------------------
   */
  dark: (
    /* Color */
    primary: #6165f7,
    success : #28C76F,
    danger: #EA5455,
    warning:#FF9F43,
    dark: #1E1E1E,
    gray: #718096,
    primary-semi: #fff,

    /* Text Color */
    text-color-semi: #bfc0c6,
    text-color-light: #525465,
    text-color-primary: #f9f9fa,
    text-color-secondary: #ededef,
    text-color-gray: #9c9ea6,
    text-color-gray-500: #c8c8c8,
    text-color-gray-600: #e6e6e6,
    text-color-gray-700: #aaa,

    /* Background Color */
    bg-color-semi: #424556,
    bg-color-primary: #333644,
    bg-color-gray: #424556,
    bg-color-gray-500: #c8c8c8,
    bg-color-gray-600: #e6e6e6,
    bg-color-main-10: rgba(var(--vs-primary), 0.8),

    /* Navbar Color */
    nav-icon-color: #ccc,

    /* Sidebar Color */
    sidebar-semi-color: #424556,
    sidebar-semi-text-color: #aaa,
    sidebar-semi-text-active-color: #eee,
    sidebar-semi-item-hover-color: rgba(170, 170, 170, 0.15),
    sidebar-text-color: #aaa,
    sidebar-text-active-color: #eee,
    sidebar-item-active-color: rgba(150, 150, 150, 0.15),
    sidebar-item-hover-color: rgba(170, 170, 170, 0.15),
    sidebar-item-active-gradient: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important,

    /* Notice Color */
    notice-header-bg-color: #424556,
    notice-content-bg-color: #424556,
    notice-hover-color: #424556,

    /* Border Color */
    border-color-primary: #444,
    input-bg-color: rgba(255, 255, 255, 0.15),
    // Icon Color
    icon-color-base: #222 // Icon Color
  ));