// 浅色主题 [默认]
@include themeify {
  .menu-default {
    user-select: none;

    &.menu-main {
      background: themed("bg-color-primary");
      box-shadow: 1px 0 15px rgba(0, 0, 0, 0.05) !important;

      .logo {
        background: themed("bg-color-primary");
        box-shadow: 0 15px 20px themed("bg-color-primary") !important;
      }

      .el-menu.main {
        background: themed("bg-color-primary");
      }

      // 有子菜单
      .multi-menu {
        .el-submenu__title {
          span {
            color: themed("sidebar-text-color");
          }

          &:hover {
            background: themed("bg-color-gray");
          }

          .menu-icon {
            color: themed("sidebar-text-color");
          }
        }

        &.is-opened {
          .el-submenu__title {
            background: themed("sidebar-item-active-color");
          }

          .el-menu-item {
            &:hover {
              background: themed("bg-color-gray");
            }
          }
        }

        &.is-active {
          .el-menu {
            .el-menu-item.is-active {
              span {
                color: themed("sidebar-text-color");
              }

              background: themed("sidebar-item-hover-color");
            }
          }

          .el-submenu__title {
            background: themed("sidebar-item-active-color");

            span {
              color: themed("sidebar-text-color");
            }
          }
        }

        .el-menu-item-group {
          background: themed("bg-color-primary");

          .el-menu-item:not(.is-active) {
            color: themed("sidebar-text-color");
          }
        }
      }

      // 无子菜单
      .single-menu {

        // 鼠标悬浮样式
        &:hover {
          background: themed("bg-color-gray");
        }

        .menu-icon {
          color: themed("sidebar-text-color");
        }

        span {
          color: themed("sidebar-text-color");
        }
      }

      .el-menu-item.is-active {

        .menu-icon,
        span {
          color: themed("sidebar-text-active-color");
        }

        box-shadow: 0 0 10px rgba(var(--vs-primary), 1);
        background: themed("sidebar-item-active-gradient");
      }
    }

    .chat {
      background: rgba(var(--vs-primary), 0.1);

      .chat-icon {
        color: $primary;
      }
    }
  }
}

// 深色主题
@include themeify {
  .menu-semi {
    user-select: none;

    &.menu-main {
      background: themed("sidebar-semi-color");

      &.collapse {
        .el-submenu {
          .is-active {
            .el-submenu__title {
              &::before {
                top: 20px;
              }
            }
          }
        }
      }

      .logo {
        box-shadow: none !important;
      }

      .el-menu.main {
        background: themed("sidebar-semi-color");
      }

      // 侧边栏展开时
      .el-menu:not(.el-menu--collapse) {
        .el-submenu {
          &.is-active {
            .el-submenu__title {
              &::before {
                content: "";
                position: absolute;
                z-index: 99;
                top: 0;
                right: -18px;
                width: 40px;
                height: 40px;
                transform: translateY(-100%) scaleX(-1);
                background-image: radial-gradient(200px at 40px 0px, rgba(0, 0, 0, 0) 40px, themed("bg-color-primary") 40px);
              }

              &::after {
                content: "";
                position: absolute;
                z-index: 99;
                bottom: 0;
                right: -18px;
                width: 40px;
                height: 40px;
                transform: translateY(100%) scale(-1, -1);
                background-image: radial-gradient(200px at 40px 0px, rgba(0, 0, 0, 0) 40px, themed("bg-color-primary") 40px);
              }
            }
          }
        }
      }

      // 有子菜单
      .multi-menu {
        .el-submenu__title {
          color: themed("sidebar-semi-text-color");

          &:hover {
            background: themed("sidebar-item-hover-color");
          }

          .menu-icon {
            color: themed("sidebar-semi-text-color");
          }
        }

        .el-submenu__icon-arrow {
          color: themed("sidebar-semi-text-color");
        }

        &.is-opened {
          .el-submenu__title {
            background: themed("sidebar-item-hover-color");
          }
        }

        &.is-active {
          .el-submenu__icon-arrow {
            color: themed("sidebar-semi-text-active-color");
          }

          .el-submenu__title {
            position: relative;
            border-radius: 4rem 0 0 4rem;
            color: themed("sidebar-semi-text-active-color");
            background: themed("bg-color-primary") !important;
            box-shadow: 18px 0 0 0 themed("bg-color-primary");
          }

          .menu-icon {
            color: themed("sidebar-semi-text-active-color");
          }

          .el-menu {
            .el-menu-item.is-active {
              background: themed("sidebar-semi-item-hover-color");
            }
          }
        }

        .el-menu-item-group {
          background: themed("sidebar-semi-color");

          .el-menu-item {
            color: themed("sidebar-semi-text-color");

            &:hover {
              background: themed("sidebar-semi-item-hover-color");
            }
          }
        }
      }

      // 无子菜单
      .single-menu {

        // 鼠标悬浮样式
        &:hover {
          background: themed("sidebar-semi-item-hover-color");
        }

        color: themed("sidebar-semi-text-color");

        .menu-icon {
          color: themed("sidebar-semi-text-color");
        }
      }

      .el-menu-item.is-active {
        color: themed("sidebar-semi-text-color");

        .menu-icon {
          color: themed("sidebar-semi-text-color");
        }

        background: themed("sidebar-semi-item-hover-color");
      }
    }

    .chat {
      background: rgba(255, 255, 255, 0.15);

      .chat-icon {
        color: #fff;
      }
    }
  }
}